#chat-screen {
    height: 11000vh;
    background-color: #abc1d1;
}

#chat-screen .alt-header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

.main-chat {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 10px;
    border-radius: 16px;
    font-size: 14px;
}
