#chat-screen {
    height: 11000vh;
    background-color: #abc1d1;
}

#chat-screen .alt-header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

.main-chat {
    margin-top: 60px;
}