#chat-screen {
    height: 11000vh;
    background-color: #abc1d1;
}

#chat-screen .alt-header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

.main-chat {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 10px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 15px;

}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message__author {
    margin-bottom: 5px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 11px;
    font-size: 18px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size: 13px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: yellow;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

/* .message-row--own .message__bubble {
    order: 1;
}

.message-row--own .message__time {
    order: 0;
} */

.message-row--own .message__info {
    flex-direction: row-reverse;
}