.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    font-size: 45px;
}

.find-icons__icon span {
    margin-top: 20px;
}

.recommended-friends {
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: var(--rgba05);
}

.recommended-friends span {
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--rgba05);
}