@keyframes settingAnimation {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.settings__setting {
    padding:20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: settingAnimation 1.0s linear;
}

.settings__setting i {
    margin-right: 15px;
    font-size: 20px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
    margin-right: 20px;
}